doctype html
html(lang='en')
  head
    include ../globals/head.pug
  body
    .wrapper
      .card
        .tbutton_controller
          form.form
            .form_item
              .lbl_group
                | Font Color :
              .form_group
                input(type='text').form_input.txtBox_01
            .form_item
              .lbl_group
                | Button Color :
              .form_group
                input(type='text').form_input.txtBox_02
            .form_item
              .lbl_group
                | FONT COLOR :
              .form_group
                .sider_cover
                  input(type="range" min="0" max="100" value="0").form_slider
                  .form_slider_popup
                    .form_slider_popup_val 5
        .topic
          | BUTTON SHAPES
        .btn_group
          .btn.btn_shape.btn_shape_1
            | BTN01
          .btn.btn_shape.btn_shape_2
            | BTN02
          .btn.btn_shape.btn_shape_3
            | BTN03
          .btn.btn_shape.btn_shape_4
            | BTN04
          .btn.btn_shape.btn_shape_5
            | BTN05
          .btn.btn_shape.btn_shape_6
            | BTN06
          .btn.btn_shape.btn_shape_7
            | BTN07
          .btn.btn_shape.btn_shape_8
            | BTN08
          .btn.btn_shape.btn_shape_9
            | BTN09
          .btn.btn_shape.btn_shape_10
            | BTN10
          .btn.btn_shape.btn_shape_11
            | BTN11
          .btn.btn_shape.btn_shape_12
            | BTN12
          .btn.btn_shape.btn_shape_13
            .innerfix
              | BTN13
          .btn.btn_shape.btn_shape_14
            .innerfix
              | BTN14
          .btn.btn_shape.btn_shape_15
            | BTN15
        //- .btn.btn_shape.btn_shape_16
        //-   | BTN17
        hr
        .topic
          | SPECIAL BUTTONS
        .btn_group
          .btn.btn_special.btn_special-1
            .innerfix
              | BTN07
          .btn.btn_hover.btn_special-2
            | BTN02
        hr
        .topic
          | HOVER BUTTONS
        .btn_group
          .btn.btn_hover.btn_hover_1
            | BTN01
          .btn.btn_hover.btn_hover_2
            | BTN02
          .btn.btn_hover.btn_hover_3
            | BTN03
          .btn.btn_hover.btn_hover_4
            | BTN04
          .btn.btn_hover.btn_hover_5
            | BTN05
          .btn.btn_hover.btn_hover_6
            | BTN06
          .btn.btn_hover.btn_hover_7
            .innerfix
              | BTN07
          .btn.btn_hover.btn_hover_8
            | BTN08
          .btn.btn_hover.btn_hover_9
            | BTN09
          .btn.btn_hover.btn_hover_10
            | BTN10
          .btn.btn_hover.btn_hover_11
            | BTN11
          .btn.btn_hover.btn_hover_12
            | BTN12
          .btn.btn_hover.btn_hover_13
            | BTN13
          .btn.btn_hover.btn_hover_14
            | BTN14
          .btn.btn_hover.btn_hover_15
            | BTN15
          .btn.btn_hover.btn_hover_16
            span OK
            span BUTTON11
        hr
        .topic
          | ANIMATED BUTTONS
        .btn_group
          .btn.btn_full.btn_full-1
            | BTN01
          .btn.btn_full.btn_full-2
            | BTN02
          .btn.btn_full.btn_full-3
            | BTN03
          .btn.btn_full.btn_full-4
            | BTN04
          .btn.btn_full.btn_full-5.rippleActive
            | BTN05
        hr
        .topic
          | GROUP ANIMATIONS
        .btn_group
          .btn.btn_groupAnimation.btn_groupAnimation_1.bouncy
            | BTN01
          .btn.btn_groupAnimation.btn_groupAnimation_2.bouncy
            | BTN02
          .btn.btn_groupAnimation.btn_groupAnimation_3.bouncy
            | BTN03
          .btn.btn_groupAnimation.btn_groupAnimation_4.bouncy
            | BTN04
        hr
        .btn-like
          .btn-like-cnt
    //- css
    script(src='assets/js/app.js')